<h2>Related Topics</h2>
{% assign sidebar = site.data.sidebars[page.sidebar].entries %}

<ul>
{% for entry in sidebar %}
  {% for folder in entry.folders %}
    {% for folderitem in folder.folderitems %}
      {% if folderitem.url == page.url %}
        {% for folderitem in folder.folderitems %}
          {% if folderitem.url == page.url %}
          {% else %}
            <li><a href="{{folderitem.url}}">{{folderitem.title}}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}
</ul>
