{% assign sidebar = site.data.sidebars[page.sidebar].entries %}

<div class="nav nav-buttons">
  {% if site.github_editme_path %}
    <a target="_blank" rel="noopener" href="https://github.com/{{site.github_editme_path}}{{page.path}}" class="btn btn-default githubEditButton no_icon" role="button" data-proofer-ignore><span class="fa fa-github fa-lg"></span> Edit on GitHub</a>
  {% endif %}

  {% if sidebar[0].pdftitle %}
    <a target="_blank" rel="noopener" href="/pdf/{{sidebar[0].pdftitle}}" class="btn btn-default downloadPDFButton no_icon" role="button"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Download PDF</a>
  {% endif %}
</div>

<ul id="mysidebar" class="nav">
  <li class="sidebarTitle">{{sidebar[0].product}} {{sidebar[0].version}}</li>
  {% for entry in sidebar %}
  {% for folder in entry.folders %}
  {% if folder.output contains "web" %}
  
  {% capture indexURL %}{{ page.url }}index.html{% endcapture %}

  {% comment %}
    The first case accounts for parent_landing_page.html.
    The second case accounts for landing_page.html, which doesn't render with index.html by design.
  {% endcomment %}
  
  {% if page.url == folder.url or indexURL == folder.url %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}

<a title="{{folder.title}}" href="{% if page.url != folder.url and indexURL != folder.url %}{{folder.url}}{% else %}#{% endif %}" data-proofer-ignore>
  {% assign version = '' %}
  {% assign title_without_version = '' %}
  {% assign title_parts = folder.title | split: ' ' %}
  
  {% for part in title_parts %}
    {% if part == 'V1' or part == 'V2' or part == 'V3' or part == 'V4' %}
      {% assign version = part %}
    {% else %}
      {% if title_without_version == '' %}
        {% assign title_without_version = part %}
      {% else %}
        {% assign title_without_version = title_without_version | append: ' ' | append: part %}
      {% endif %}
    {% endif %}
  {% endfor %}
  
  {{ title_without_version }}{% if version != '' %} <span class="apiversion parentversion {{ version | downcase }}">{{ version }}</span>{% endif %}
</a>
 
      <ul>
          {% for folderitem in folder.folderitems %}
          {% if folderitem.output contains "web" %}
          {% if folderitem.external_url %}
          <li><a title="{{folderitem.title}}" href="{{folderitem.external_url}}" target="_blank" rel="noopener">{{folderitem.title}}</a></li>
          {% elsif page.url == folderitem.url %}
          <li class="active">
            <a title="{{folderitem.title}}" href="{{folderitem.url | relative_url }}">
              {% if folderitem.apiversion %}
                <span class="apiversion {{folderitem.apiversion}}">{{folderitem.apiversion}}</span>
              {% endif %}
              {{folderitem.title}}
            </a>
          </li>
          {% elsif folderitem.type == "empty" %}
          <li>
            <a title="{{folderitem.title}}" href="{{folderitem.url | relative_url }}">
              {% if folderitem.apiversion %}
                <span class="apiversion {{folderitem.apiversion}}">{{folderitem.apiversion}}</span>
              {% endif %}
              {{folderitem.title}}
            </a>
          </li>
          {% else %}
          <li>
            <a title="{{folderitem.title}}" href="{{folderitem.url | relative_url }}">
              {% if folderitem.apiversion %}
                <span class="apiversion {{folderitem.apiversion}}">{{folderitem.apiversion}}</span>
              {% endif %}
              {{folderitem.title}}
            </a>
          </li>
          {% endif %}
          {% for subfolders in folderitem.subfolders %}        
          {% if subfolders.output contains "web" %}
          <li class="subfolders">
              <a title="{{subfolders.title}}" href="#">{{ subfolders.title }}</a>
              <ul>
                  {% for subfolderitem in subfolders.subfolderitems %}
                  {% if subfolderitem.output contains "web" %}

                  {% if subfolderitem.external_url %}
                  <li><a title="{{subfolderitem.title}}" href="{{subfolderitem.external_url}}" target="_blank" rel="noopener">
                    {% if subfolderitem.apiversion %}
                      <span class="apiversion {{subfolderitem.apiversion}}">{{subfolderitem.apiversion}}</span>
                    {% endif %}
                    {{subfolderitem.title}}
                  </a></li>
                  {% elsif page.url == subfolderitem.url or indexURL == subfolderitem.url %}
                  <li class="active">
                    <a title="{{subfolderitem.title}}" href="{{subfolderitem.url | relative_url }}">
                      {% if subfolderitem.apiversion %}
                        <span class="apiversion {{subfolderitem.apiversion}}">{{subfolderitem.apiversion}}</span>
                      {% endif %}
                      {{subfolderitem.title}}
                    </a>
                  </li>
                  {% else %}
                  <li>
                    <a title="{{subfolderitem.title}}" href="{{subfolderitem.url | relative_url }}">
                      {% if subfolderitem.apiversion %}
                        <span class="apiversion {{subfolderitem.apiversion}}">{{subfolderitem.apiversion}}</span>
                      {% endif %}
                      {{subfolderitem.title}}
                    </a>
                  </li>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
              </ul>
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
      </ul>
   </li>
     {% endif %}
      {% endfor %}
      {% endfor %}
      {% comment %}
      <!-- If you aren't using the accordion, uncomment this block:
      <p class="external">
        <a href="#" id="collapseAll" data-proofer-ignore>Collapse All</a> | <a href="#" id="expandAll" data-proofer-ignore>Expand All</a>
      </p>
      -->
      {% endcomment %}
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').addClass("active");</script>

