
<!-- Create the automatic mini-TOC on a page (unless disabled with #toc{display:none;}.
     Note: If you use HTML tags, add an ID to the heading so that it appears in the mini-TOC.
-->
<script>
$(document).ready(function() {
  /* Ensure that #toc isn't hidden. */
  if ($('#toc').length) {
    $('#toc').toc({
      minimumHeaders: 2,
      listType: 'ul',
      showSpeed: 0,
      headers: 'h2'
    });

    /* Account for the space that the floating toolbar takes up. */
    $('#toc').on('click', 'a', function() {
      var target = $(this.getAttribute('href')), 
          scroll_target = target.offset().top
          $(window).scrollTop(scroll_target - 10);
      return false
    });
  }
});
</script>

<div id="toc"></div>
