<!-- ==================== TOPNAV START ==================== -->
<div class="above-header"></div>

<div class="header-container">
<header class="header">
  <div class="logo">
    <a class="header-link" href="https://docs.qumulo.com/">
      <picture>
	<source type="image/webp" srcset="{{ "images/qumulo-scale-anywhere-logo.webp" | relative_url }}">
	<source type="image/png" srcset="{{ "images/qumulo-scale-anywhere-logo.png" | relative_url }}">	      
        <img src="{{ "images/qumulo-scale-anywhere-logo.png" | relative_url }}" alt="Qumulo: Scale Anywhere Logo" width="129" height="45">
      </picture>
    </a>
  </div>

  <div class="nav-wrapper">
    <span class="icon-menu"></span>
    <nav class="user-nav" id="user-nav">
      <div class="qf2header">
        <div class="flex-links">
          <a class="header-link header-right" href="https://qumulo.com/company/about-qumulo/" target="_blank">About Qumulo</a>
          <a class="header-link header-right" href="https://care.qumulo.com/s/knowledge" target="_blank">Knowledge Base</a>
          <a class="header-link header-right" href="https://nexus.qumulo.com/" target="_blank">Nexus</a>
          <a class="header-link header-right" href="https://trends.qumulo.com/" target="_blank">Trends</a>
        </div>
        <div class="contact-links">
          <a class="btn-contact no_icon" href="https://qumulocare.slack.com/">Send Slack Message</a>
          <a class="btn-contact no_icon" href="https://care.qumulo.com/s/submit-a-case">Open a Case</a>
        </div>
      </div>
    </nav>
</div>
</header>
</div>
<div class="below-header navbar navbar-inverse navbar-static-top">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ "index.html" | relative_url }}">&nbsp;<span class="projectTitle"> {{site.topnav_title}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- toggle sidebar button -->
                <li><a id="tg-sb-link" href="#" data-proofer-ignore><i id="tg-sb-icon" class="fa fa-toggle-off"></i> Reading Mode</a></li>
                <!-- entries without drop-downs appear here -->

{% assign topnav = site.data[page.topnav] %}
{% assign topnav_dropdowns = site.data[page.topnav].topnav_dropdowns %}

                {% for entry in topnav.topnav %}
                {% for item in entry.items %}
                {% if item.external_url %}
                <li><a href="{{item.external_url}}" target="_blank" rel="noopener">{{item.title}}</a></li>
                {% elsif page.url contains item.url %}
                <li class="active"><a href="{{item.url | relative_url }}">{{item.title}}</a></li>
                {% else %}
                <li><a href="{{item.url | relative_url }}">{{item.title}}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                <!-- entries with drop-downs appear here -->
                <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
                {% for entry in topnav_dropdowns %}
                {% for folder in entry.folders %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ folder.title }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for folderitem in folder.folderitems %}
                        {% if folderitem.external_url %}
                        <li><a href="{{folderitem.external_url}}" target="_blank" rel="noopener">{{folderitem.title}}</a></li>
                        {% elsif page.url contains folderitem.url %}
                        <li class="dropdownActive"><a href="{{folderitem.url | relative_url }}">{{folderitem.title}}</a></li>
                        {% else %}
                        <li><a href="{{folderitem.url | relative_url }}">{{folderitem.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %}
                {% if site.feedback_disable == null or site.feedback_disable == false %}
			{% include feedback.html %}
		{% endif %}
                <li>
                  <div id="search-demo-container">
                    <div class="parent">
                      <div class="search_container">
                        <main id="search-widget">
                          <div class="vectara__search_Box">
                            <form id="vectara__search_form" action="/search.html" method="GET">
                              <input class="vectara__search_field" name="query" id="search-input" placeholder="What would you like to know?" autofocus>
                              <button class="vectara__logo_btn">
                                <img class="vectara__search_logo" width="26" height="28" src="/images/magnifying-glass.png" alt="Search">
                              </button>
                            </form>
                          </div>
                        </main>
                        <ul class="tags" id="widget-tags"></ul>
                      </div>
                    </div>
                  </div>
                  <ul id="list"></ul>
                </li>
            </ul>
        </div>
    </div>
        <!-- /.container -->
</div>
<!-- ==================== TOPNAV END ==================== -->
