---
title: Table of Contents
type: frontmatter
search: exclude
layout: page_print
permalink: /tocpage.html/
---

<div id="navig">

    {% assign sidebar = site.data.sidebars[site.pdf_sidebar].entries %}

    <ul id="mysidebar" class="nav">
        {% comment %} Exclude frontmatter from PDF build. {% endcomment %}
        {% for entry in sidebar %}
            {% for folder in entry.folders %}
                {% if folder.output contains "pdf" and folder.type != "frontmatter" %}
                    {% comment %} Find the first page with PDF output. {% endcomment %}
                    {% assign firstPDFlink = false %}

                    {% comment %} Account for folders with folderitems {% endcomment %}
                    {% for folderitem in folder.folderitems %}
                        {% if folderitem.output contains "pdf" %}
                            {% assign firstPDFlink = folderitem.url %}
                            {% comment %} Get out of the loop {% endcomment %}
                            {% break %}
                        {% endif %}
                    {% endfor %}

                    {% comment %} Account for folders without folderitems {% endcomment %}
                    {% if firstPDFlink == false %}
                        {% assign firstPDFlink = folder.url %}
                        {% assign linkClass = "parentSectionTitleLone" %}
                    {% else %}
                        {% assign linkClass = "parentSectionTitle" %}
                    {% endif %}
        
        <li class="sectionHead">
            <a class="{{ linkClass }}" href="{{ firstPDFlink | prepend: site.baseurl }}">{{ folder.title }}</a>
            <ul>
                    {% for folderitem in folder.folderitems %}
                        {% if folderitem.output contains "pdf" %}
                <li><a href="{{folderitem.url | prepend: site.baseurl}}">{{folderitem.title}}</a>
                            {% for subfolders in folderitem.subfolders %}
                                {% if subfolders.output contains "pdf" %}
                <li class="sectionHead">{{ subfolders.title }}
                    <ul>
                                    {% for subfolderitem in subfolders.subfolderitems %}
                                        {% if subfolderitem.output contains "pdf" %}
                        <li><a href="{{subfolderitem.url | prepend: site.baseurl}}">{{subfolderitem.title}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                    </ul>
                </li>
                                {% endif %}
                            {% endfor %}
                </li>
                        {% endif %}
                    {% endfor %}
            </ul>
        </li>
                {% endif %} 
            {% endfor %}
        {% endfor %}
    </ul>
</div>
