---
layout: default_print
---

<div class="post-header">
   <h1 class="post-title-main">{{ page.title }}</h1>
</div>

<div class="post-content">

<div>{{ page.summary }}</div>

{{content}}

<h2>Description</h2>
<div id="description">{{ page.synopsis | markdownify }}</div>

<h2>Usage</h2>

{% capture usage %}
```bash
{{ page.usage }}
```
{% endcapture %}
{{ usage | markdownify }}

{% unless page.optional_options == empty %}
<h2>Flags</h2>
<table>
  <tr>
    <th>Flag Name</th>
    <th>Required</th>
    <th>Description</th>
  </tr>
{% for flag in page.optional_options %}
  <tr>
    <td>
      <code>{{ flag.name }}</code>
    </td>
    <td>
      {% if flag.required == true %}
        Yes
      {% else %}
        No
      {% endif %}
    </td>
    <td>
      {{ flag.help }}
    </td>
  </tr>
{% endfor %}
</table>
{% endunless %}

{% unless page.positional_options == empty %}
<h2>Positional Options</h2>

<table>
  <tr>
    <th>Option Name</th>
    <th>Description</th>
  </tr>
{% for flag in page.positional_options %}
  <tr>
    <td>
      <code>{{ flag.name }}</code>
    </td>
    <td>{{ flag.help }}</td>
  </tr>
{% endfor %}
</table>
{% endunless %}

</div>
