---
layout: default_print
comments: true
---
<div class="post-header">
    {% assign sidebar = site.data.sidebars[page.sidebar].entries %}
    
    {% for entry in sidebar %}
      {% for folder in entry.folders %}
        {% if folder.title and folder.type != "navi" and folder.type != "frontmatter" %}
          {% for folderitem in folder.folderitems %}
            {% if folderitem.url == page.url and forloop.first == true %}
<h1 class="post-title-main" id="{{page.permalink | replace: '/', '' }}">{{ folder.title }}</h1>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  <!--
    At this point, the following heading is set on purpose to an unreasonably
    high heading level, so that I can perform substitution in the generated
    HTML, before Prince XML builds it into a PDF file. This applies only to
    PDF content.
  -->
  <h9>{{ page.title }}</h9>
  <p>{{ page.summary }}</p>
</div>

<div class="post-content">
  {{ content }}
</div>
