---
layout: default_print
comments: true
---
{% assign processed_content = content | replace: '<p><a id="', '<a id="' | replace: '"></a></p>', '"></a>' %}

<div class="post-header">
    {% assign sidebar = site.data.sidebars[page.sidebar].entries %}

    {% for entry in sidebar %}
      {% for folder in entry.folders %}
        {% if folder.title and folder.type != "navi" and folder.type != "frontmatter" %}
          {% for folderitem in folder.folderitems %}
            {% if folderitem.url == page.url and forloop.first == true %}
<h1 class="post-title-main" id="{{page.permalink | replace: '/', '' }}">{{ folder.title }}</h1>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% comment %}At this point, the following <h9> heading is set on purpose to an unreasonably high heading level, so that I can perform substitution in the generated HTML, before Prince XML builds it into a PDF file. For more information, see line 16 in `default_print.html`. This applies only to PDF content.{% endcomment %}
  {% if page.permalink == "/tocpage.html/" %}<h1>{{ page.title }}</h1>{% elsif page.title %}<h9>{{ page.title }}</h9>{% endif %}
  <p>{{ page.summary }}</p>
</div>

<div class="post-content">
   {% if page.include_content %}
     {% capture reusedContent %}{% include {{ page.include_content }} %}{% endcapture %}
     {{ reusedContent | markdownify }}
   {% else %}
     {{ processed_content }}
   {% endif %}
</div>

